---
---
  :root {

    --mainColor-darkest: #730d1eff;
    --mainColor-darker: #a1122aff;
    --mainColor-dark: #cf1736ff;
    --mainColor: #e83151ff;
    --mainColor-light: #ed5e76ff;
    --mainColor-lighter: #f28c9dff;
    --mainColor-lightest: #f7bac4ff;

    --greenAccent-darkest: #061313ff;
    --greenAccent-darker: #0d2626ff;
    --greenAccent-dark: #154142ff;
    --greenAccent: #216869ff;
    --greenAccent-light: #2d8e8fff;
    --greenAccent-lighter: #3ab4b6ff;
    --greenAccent-lightest: #7fd5d7ff;

    --blueAccent-darkest: #030a16ff;
    --blueAccent-darker: #0a1e42ff;
    --blueAccent-dark: #11326eff;
    --blueAccent: #18469aff;
    --blueAccent-light: #1f5ac7ff;
    --blueAccent-lighter: #4f83e3ff;
    --blueAccent-lightest: #91b1eeff;

    --yellowAccent-darkest: #62520fff;
    --yellowAccent-darker: #ba9d1cff;
    --yellowAccent-dark: #dfbe2aff;
    --yellowAccent: #e6cc56ff;
    --yellowAccent-light: #ecd983ff;
    --yellowAccent-lighter: #f3e7afff;
    --yellowAccent-lightest: #faf4dcff;

    --black: #000000ff;
    --grey-darkest: #1a1a1aff;
    --grey-darker: #333333ff;
    --grey-dark: #4d4d4dff;
    --grey: #666666ff;
    --grey-light: #808080ff;
    --grey-lighter: #a8a8a8ff;
    --grey-lightest: #e8e8e8ff;
    --white: #ffffffff;

    --warning-darkest: #804a00ff;
    --warning-darker: #b36800ff;
    --warning-dark: #e68600ff;
    --warning: #ff9f1aff;
    --warning-light: #ffb54dff;
    --warning-lighter: #ffca80ff;
    --warning-lightest: #ffdfb3ff;

    --success-darkest: #1f4a1cff;
    --success-darker: #2e7029ff;
    --success-dark: #3d9537ff;
    --success: #4dba45ff;
    --success-light: #70c86aff;
    --success-lighter: #94d68fff;
    --success-lightest: #b8d7d8ff;

    --danger-darkest: #970c07ff;
    --danger-darker: #c81009ff;
    --danger-dark: #f41810ff;
    --danger: #f64741ff;
    --danger-light: #f87672ff;
    --danger-lighter: #fba5a2ff;
    --danger-lightest: #fdd5d3ff;

    --facebook: #4267B2;
    --twitter: #1DA1F2;
    --reddit: #FF4301;

    --background: #EFEEEE;
    --stickynoteColor-light: #F3F1D6;
    --stickynoteColor-dark: #EFECC7;
}

::selection {
    background: var(--mainColor);
    color: var(--white);
  }
  ::-moz-selection {
    background: var(--mainColor);
    color: var(--white);
  }

body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  } 
html {
    scroll-behavior: smooth;
}

* {
    outline: none;
}

img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .075);
}

.no-line-height {
    line-height: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    padding: 0 0 0 25px;
    position: relative;
}

ul li input {
    position: absolute;
    top: 5px;
    left: 0;
    opacity: 1;
}

.recipe--category {
    color: var(--danger-darkest);
    background-color: var(--danger-lightest);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.recipe--tag {
    color: var(--warning-darkest);
    background-color: var(--warning-lightest);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.recipe--chef {
    color: var(--greenAccent-darker);
    background-color: var(--greenAccent-lightest);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.recipe--meal {
    color: var(--grey-darkest);
    background-color: var(--grey-lightest);
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.recipepage--meal {
    color: var(--white);
    background-color: var(--grey-lighter);
    opacity: 1;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.recipe--time {
    color: var(--white);
    background-color: var(--grey-lighter);
    opacity: 1;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.footer {
    background: url(../assets/footer.png);
    overflow: hidden;
    width: 100%;
    position: relative;
}

.footer:before {
    content: '';
    width: 100%;
    height: .2rem;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(270deg, var(--mainColor-darkest) 0%, var(--mainColor) 50%, var(--mainColor-lightest) 100%);
    background: -webkit-linear-gradient(270deg, var(--mainColor-darkest) 0%, var(--mainColor) 50%, var(--mainColor-lightest) 100%);
    background: linear-gradient(270deg, var(--mainColor-darkest) 0%, var(--mainColor) 50%, var(--mainColor-lightest) 100%);
    background-size: 300% 300%;
    -webkit-animation: footerGradient 30s ease infinite;
    -moz-animation: footerGradient 30s ease infinite;
    -o-animation: footerGradient 30s ease infinite;
    animation: footerGradient 30s ease infinite;

    @-webkit-keyframes footerGradient {
        0% {
            background-position: 0% 52%
        }

        50% {
            background-position: 100% 49%
        }

        100% {
            background-position: 0% 52%
        }
    }

    @-moz-keyframes footerGradient {
        0% {
            background-position: 0% 52%
        }

        50% {
            background-position: 100% 49%
        }

        100% {
            background-position: 0% 52%
        }
    }

    @-o-keyframes footerGradient {
        0% {
            background-position: 0% 52%
        }

        50% {
            background-position: 100% 49%
        }

        100% {
            background-position: 0% 52%
        }
    }

    @keyframes footerGradient {
        0% {
            background-position: 0% 52%
        }

        50% {
            background-position: 100% 49%
        }

        100% {
            background-position: 0% 52%
        }
    }

    display: block;
    position: absolute;
}

.footer--url {
    color: var(--mainColor);
    font-weight: 700;
    text-decoration: none;
}

.footer--about {
    font-size: 0.8rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23e8e8e8ff" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 800 800" width="120"><path d="M570 800H285l33-104h-33A283 283 0 010 416c0-154 128-279 285-279 135 0 247 92 277 215-39 3-69 35-69 74 0 41 33 74 75 74h2v300zM334 500c-42 0-75-33-75-74s33-74 75-74 76 33 76 74-34 74-76 74zM673 800h-73V0l23 13c84 47 128 165 151 288 23 121 26 221 26 287v17H673v195z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

.siteName {
    color: var(--mainColor);
    font-weight: 300;
    text-decoration: none;
}

.siteName--text {
    color: var(--mainColor);
    font-weight: 500;
    text-decoration: none;
}

.quote {
    font-style: italic;
    font-weight: 300;
}

.footer h4 {
    color: var(--grey-dark);
}

.footer--links li {
    padding: 0px;
    position: relative;
}

.footer--links li a {
    text-transform: uppercase;
    color: var(--grey-light);
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.footer--links li a:hover {
    color: var(--grey-dark);
    text-decoration: none;
}

.footer--copyright {
    font-size: 0.8rem;
}

.footer--love {
    color: var(--grey-light);
}

.footer--love a {
 text-decoration: none;
 font-weight: 700;
 color: var(--mainColor);
}

.footer--love a:hover {
    color: var(--mainColor-darker);
   }

[tooltip] {
    position: relative;
}

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    font-size: 75%;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
}

[tooltip]::after {
    content: attr(tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .25em .4em;
    border-radius: .25rem;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: var(--grey,);
    color: var(--white);
    z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: var(--grey,);
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: var(--grey,);
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: var(--grey,);
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: var(--grey,);
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-in-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-in-out forwards;
}

.skullery--hero {
    position: relative;

    .bg-back {
        background: var(--mainColor);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -2;
    }

    .bg {
        background-repeat: no-repeat;
        background-attachment: center;
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        mix-blend-mode: multiply;
        filter: grayscale(100%);
        z-index: -1;
    }

    .header {
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 0;
        color: var(--white);
        font-size: 1rem;
        font-style: italic;
        visibility: hidden;
    }

    .header ul li {
        display: inline-block;
        list-style: none;
        font-size: .875rem;
        color: var(--white);
        margin-left: 1.5rem;
        cursor: pointer;
        visibility: hidden;

        &:hover {
            color: var(--white);
            opacity: 0.6;
        }
    }

    .main--hero {
        padding: 4rem 2rem;

        .title {
            color: var(--white);
            font-weight: 100;
            font-size: 2.25rem;
            max-width: 25rem;
            line-height: 1.2;
            width: 100%;
        }

        .desc {
            color: var(--white);
            opacity: 0.7;
            width: 100%;
            max-width: 40rem;
            font-size: 1rem;
        }

        a {
            background: var(--grey);
            padding: .675rem 2rem;
            border-radius: 5px;
            text-decoration: none;
            font-weight: 500;
            margin-top: 0.5rem;
            display: inline-block;
        }

        .cta--main {
            color: rgba(var(--black), 0.6);
            background: -moz-linear-gradient(top, var(--yellowAccent-lighter) 0%, var(--yellowAccent-light) 100%);
            background: -webkit-linear-gradient(top, var(--yellowAccent-lighter) 0%, var(--yellowAccent-light) 100%);
            background: linear-gradient(to bottom, var(--yellowAccent-lighter) 0%, var(--yellowAccent-light) 100%);
        }

        .cta--main:hover {
            background: -moz-linear-gradient(top, var(--yellowAccent-dark) 0%, var(--yellowAccent-darker) 100%);
            background: -webkit-linear-gradient(top, var(--yellowAccent-dark) 0%, var(--yellowAccent-darker) 100%);
            background: linear-gradient(to bottom, var(--yellowAccent-dark) 0%, var(--yellowAccent-darker) 100%);
        }

        .cta--secondary {
            color: var(--white);
            border: 1px solid var(--white);
            background: transparent;
            padding: calc(.675rem - 1px) 2rem;
            font-weight: 500;
        }

        .cta--secondary:hover {
            background: var(--white);
            color: var(--mainColor-darker);
        }

        .cta--favorites {
            fill: var(--white);
            border: 1px solid var(--white);
            background: transparent;
            padding: calc(.675rem - 1px) 1rem;
            font-weight: 500;
        }

        .cta--favorites.hidden {
            display: none;
        }

        .cta--favorites svg {
            display: inline-flex;
            align-self: center;
            position: relative;
            height: 1.5em;
            width: 1.5em;
            top: 0.20em;    
        }
        
        .cta--favorites:hover {
            fill: var(--mainColor-darker);
            border: 1px solid var(--white);
            background: var(--white);
            padding: calc(.675rem - 1px) 1rem;
            font-weight: 500;
        }
    }
}

.max-width-4 {
    max-width: 64em
}

.max-width-3 {
    max-width: 52em
}

.max-width-2 {
    max-width: 40em
}

.search input {
    border-radius: 5px;
    border: 2px solid var(--grey-lightest);
    margin: 0 auto;
    width: 95%;
    padding: 1.5rem;

}

.search input:focus {
    outline: none;
    border: 2px solid var(--mainColor);
}

.search {
    transition: .3s ease height;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    height: 150px;
}

.post h1 {
    margin-top: 6rem
}

.post li {
    margin-bottom: 1rem;
    padding: 0 0 0 1rem;
}

.post li:before {
    content: "- ";
    position: absolute;
    left: 0;
    color: #007FFF
}

a .image {
    transition: .2s ease all;
    opacity: 1;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .075);
}

a:hover .image {
    opacity: 0.9;
}

.ingredients p {
    margin-bottom: 0.5rem;
}

.sell .sm-col a {
    text-decoration: none;
    color: var(--white);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.ratio {
    padding-top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media all and (max-width:40em) {
    .left-align {
        text-align: center;
    }

    .right-align {
        text-align: center;
    }
}

@media all and (max-width: 300px) {
    .title {
        font-size: 1.3rem;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
    }

    .xs-center {
        text-align: center
    }

    .recipes .sm-col {
        border-bottom: 3px solid white
    }

}

@media (min-width: 64em) {
    .search {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.ingredient em {
    color: var(--grey-light);
    font-family: monospace;
    font-style: normal;
}

.ingredient em:before {
    content: "(";
}

.ingredient em:after {
    content: ")";
}

.instructions em {
    color: var(--grey-light);
    font-family: monospace;
    font-style: normal;
}

.instructions em:before {
    content: "(note: ";
}

.instructions em:after {
    content: ")";
}

.recipe--logo {
    background: var(--background);
    border-radius: 0px 5px 5px 0px;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.recipe--logo>svg:hover {
    opacity: 0.8;
}

.main--color {
    color: var(--mainColor);
}

.search--title {
    font-weight: 100;
    font-size: 2.25rem;
}

.m-top-1 {
    margin-top: 1rem;
}

.m-bottom-1 {
    margin-bottom: 1rem;
}

.border-1 {
    border-width: 1px;
}

.border-1:active {
    border-width: 1px;
}

.capitalize {
    text-transform: capitalize;
}

.nowrap {
    white-space: nowrap;
}

.page--suptitle {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--grey-lighter);
    letter-spacing: 1.3px;
}

.page--title {
    color: var(--grey-darker);
    font-size: 3rem;
    font-weight: 300;
    text-transform: capitalize;
}

.page--subtitle {
    color: var(--grey-darkest);
}

.page--header {
    margin-bottom: 0rem;
}

.page--listitem {
    color: var(--mainColor);
    font-weight: 700;
    font-size: 1.3rem;
}

.page--list li {
    padding: 0px;
}

.page--listitem:before {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.icon--recipe{
    fill: var(--grey-lighter);
    padding-right: 0.5rem;
    position: relative;
    top: 0.3rem;
}

.listitem--icon {
    fill: var(--grey-lighter);
    position: relative;
    top: 0.2rem;
}

.ingredientlist {
    border: 1px solid var(--grey-lightest);
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    border-bottom-right-radius: 60px 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .075);
    background: -moz-linear-gradient(-45deg, var(--stickynoteColor-light) 81%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-dark) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, var(--stickynoteColor-light)), color-stop(82%, var(--stickynoteColor-light)), color-stop(82%, var(--stickynoteColor-light)), color-stop(100%, var(--stickynoteColor-dark)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, var(--stickynoteColor-light) 81%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-dark) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, var(--stickynoteColor-light) 81%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-dark) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, var(--stickynoteColor-light) 81%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-dark) 100%);
    /* IE10+ */
    background: linear-gradient(135deg, var(--stickynoteColor-light) 81%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-light) 82%, var(--stickynoteColor-dark) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F1D6', endColorstr='#EFECC7', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    cursor: default;
}

.ingredientlist:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.checked {
    color: var(--grey-light);
    text-decoration: line-through;
}

.instructionlist {
    padding: 1rem;
    cursor: default;
}

.stickynote--title {
    color: var(--yellowAccent-darker);
}

.squigglyURL--black {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    color: var(--grey-darkest);
    text-decoration: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.squigglyURL--black:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E83151' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.squigglyURL--main {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: var(--mainColor);
    text-decoration: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.squigglyURL--main:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E83151' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    top: 0.15em;
    svg {
        height: 100%;
        width: 100%;
    }
}

.grey {
    fill: var(--grey-lighter);
}

.flex-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
}

.notes {
    padding: 1rem;
}

.note > p {
    margin-bottom: 0.5rem;
}

.note > p:before {
    content: '• ';
    color: var(--mainColor-lighter);
    padding-right: 0.5rem;
}

.note > p > a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: var(--mainColor);
    text-decoration: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.note > p > a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E83151' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    text-decoration: none;
}

#results-container {
    color: var(--mainColor);
    text-align: center;
    font-weight: 700;
}
applause-button > .style-root {
    color: var(--greenAccent-light) !important;
    fill: var(--greenAccent-light) !important;
    stroke: var(--greenAccent-light) !important;
    cursor: grab;
}

applause-button .count-container .count {
    color: var(--white);
    font-weight: bold;
    border-radius: 50px;
    background-color: var(--greenAccent-light);
    width: 1.5rem;
    margin: auto;
}
applause-button .count-container {
    top: -50% !important;
}

#clapText {
    color: var(--grey-lighter);
    user-select: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: none;
}

.file-select {
    margin-bottom: 3rem;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid var(--grey-lighter);
    color: var(--grey-darker);
    padding: .75rem 2.5rem;
    border-radius: 5px;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}

.custom-file-upload:hover {
    background: var(--grey-lighter);
    border: 2px solid var(--grey-lightest);
    color: var(--grey-dark);
}

.file-submit {
    border: none;
    padding: .875rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background: var(--greenAccent);
    border: 2px solid var(--greenAccent);
    color: var(--white);
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.file-submit:hover {
    background: var(--greenAccent-dark);
    border: 2px solid var(--greenAccent-dark);
}

.file-selected {
    background: var(--grey-lightest);
    padding: .875rem 2rem;
    border-radius: 5px;
    color: var(--grey-light);
    min-width: 4rem;
    vertical-align: middle;
    display: inline-block;
}

.success {
    padding: 20px;
    background-color: var(--success-lightest);
    color: var(--greenAccent-dark);
    margin-bottom: 1rem;
    border-radius: 5px;
    max-width: 750px;
    height: auto;
    border: solid 1px;
    border-color: var(--success-lightest);
}

.success strong {
    color: var(--greenAccent-darker);
}

.failed {
    padding: 20px;
    background-color: var(--danger-lightest);
    color: var(--danger);
    margin-bottom: 1rem;
    border-radius: 5px;
    max-width: 750px;
    height: auto;
    border: solid 1px;
    border-color: var(--danger-lightest);
}

.failed strong {
    color: var(--danger-darker);
}

.closebtn {
    margin-left: 15px;
    color: var(--grey-light);
    float: right;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: var(--grey-dark);
}

.txt {
    background: var(--mainColor) url(../assets/txt.svg) no-repeat scroll center -16px;
    border-radius: 2px;
    height: 16px;
    opacity: 1;
    position: relative;
    transition: all 300ms linear 0s;
    width: 36px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.txt:hover {
    background: var(--mainColor) url(../assets/txt.svg) no-repeat scroll center 0;
}

.md {
    background: var(--mainColor) url(../assets/md.svg) no-repeat scroll center -16px;
    border-radius: 2px;
    height: 16px;
    opacity: 1;
    position: relative;
    transition: all 300ms linear 0s;
    width: 36px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.md:hover {
    background: var(--mainColor) url(../assets/md.svg) no-repeat scroll center 0;
    z-index: 99999;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 2.5rem;
}

.send-message {
    border: none;
    padding: .875rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: var(--white);
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    fill: var(--white);
}

.send-message:hover {
    background: var(--mainColor-dark);
    border: 2px solid var(--mainColor-dark);
}

.form label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.form input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    min-width: 25rem;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.form input:focus {
    color: rgba(0, 0, 0, 0.8);
}

.form textarea {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    min-width: 25rem;
    min-height: 8rem;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.hero--small {
max-width: 60rem;
margin: 0 auto;
}

.share svg{
    fill: var(--grey-light);
}

.share {
    display: inline-block;
}

.facebook:hover svg {
        fill: var(--facebook);
    }

.twitter:hover svg {
        fill: var(--twitter);
    }

.reddit:hover svg {
        fill: var(--reddit);
    }

.copy:hover svg {
        fill: var(--mainColor);
    }

    .progress-wrap {
        position: fixed;
        right: 32px;
        bottom: 32px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: block;
        border-radius: 50px;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .progress-wrap.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .progress-wrap::after {
        position: absolute;
        content: '';
        mask: url('data:image/svg+xml; utf8, <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 13l-7-5h-2l-7 5-1 1c0 2 1 2 3 2l6-5 6 5c2 0 3 0 3-2l-1-1z"/></svg>');
        -webkit-mask: url('data:image/svg+xml; utf8, <svg width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 13l-7-5h-2l-7 5-1 1c0 2 1 2 3 2l6-5 6 5c2 0 3 0 3-2l-1-1z"/></svg>');
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        background-color: var(--grey);
        text-align: center;
        line-height: 40px;
        font-size: 24px;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: block;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .progress-wrap svg.progress-circle path {
        stroke: var(--grey-darker);
        stroke-width: 3;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        fill: var(--grey-lightest);
    }

.favorites input.favorite {
mask: url(/assets/favorite.svg);
-webkit-mask: url(/assets/favorite.svg);
mask-position: center;
-webkit-mask-position: center;
mask-repeat: no-repeat;
-webkit-mask-repeat: no-repeat;
background-color: var(--grey-lighter);
opacity: 0.5;
width: 2rem;
height: 2rem;
border: none;
text-decoration: none;
cursor: pointer;
}

.favorites input.unfavorite {
mask: url(/assets/favorite.svg);
-webkit-mask: url(/assets/favorite.svg);
background-color: var(--mainColor);
mask-position: center;
-webkit-mask-position: center;
mask-repeat: no-repeat;
-webkit-mask-repeat: no-repeat;
width: 2rem;
height: 2rem;
border: none;
text-decoration: none;
cursor: pointer;
}

.split {
    width: 50%;
}

.split.right {
    vertical-align: 100%;
}

.right--align {
    text-align: right;
}

#favTooltip {
    display: inline-block;
}

.hidden {
    display: none;
}

.copyIngredients {
    color: var(--yellowAccent-darker);
    display: inline-flex;
}

.copyButton {
    background-color: var(--yellowAccent-lightest);
    border-radius: 5px;
    border: 1px solid var(--grey-lightest);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .075);
    fill: var(--yellowAccent-darker);
    stroke: var(--yellowAccent-darker);
}

.copyButton:hover {
    background-color: var(--yellowAccent-lightest);
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .075);
}

.copyIcon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    top: 0.20em;
    svg {
        height: 100%;
        width: 100%;
    }
}

.ingredient > .customCheckBox[type="checkbox"]:after{
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--yellowAccent-dark);
    background-color: var(--yellowAccent-lightest);
    content: "";
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position:center;
}

.customCheckBox[type="checkbox"]:after{
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey-lighter);
    background-color: var(--grey-lightest);
    content: "";
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position:center;
}

.customCheckBox[type="checkbox"]:before{
    content: "";
    position: relative;
    display: block;

}

.customCheckBox[type="checkbox"]:checked:after{
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC');
}

.customCheckBox.large[type="checkbox"]:before{
    width: 20px;
    height: 20px;
}
.customCheckBox.large[type="checkbox"]:after{
    top: -24px;
    left: -3px;
    width: 20px;
    height: 20px;
}

.servings-input {
    border-radius: 5px;
    border: 0px;
    background-color: var(--yellowAccent-lighter);
    border: 1px solid var(--yellowAccent-light);
    color: var(--yellowAccent-darker);
    font-weight: 700;
    font-feature-settings: "ss01";
    max-width: 15%;
}

.servings-input:focus {
    outline: none;
    background-color: var(--yellowAccent-lighter);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
    padding: 50px;
    padding-bottom: 80px;
    width: 100%;
    min-width: 240px;
  }
  .tabs input[name="tab-control"] {
    display: none;
  }
  .tabs .content section h2,
  .tabs ul li label {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
            align-items: flex-end;
    flex-wrap: wrap;
  }
  .tabs ul li {
    box-sizing: border-box;
    -webkit-box-flex: 1;
            flex: 1;
    width: 33%;
    padding: 0 10px;
    text-align: center;
  }
  .tabs ul li label {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: var(--grey-lighter);
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tabs ul li label br {
    display: none;
  }
  .tabs ul li label svg {
    fill:  var(--grey-lighter);
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color:  var(--grey-light);
  }
  .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill:  var(--grey-light);
  }
  .tabs .slider {
    position: relative;
    width: 33%;
    -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
  .tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: var(--mainColor);
    border-radius: 1px;
  }
  .tabs .content {
    margin-top: 30px;
  }
  .tabs .content section {
    display: none;
    -webkit-animation-name: content;
            animation-name: content;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    line-height: 1.4;
  }
  .tabs .content section h2 {
    color: var(--mainColor);
    display: none;
  }
  .tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: var(--mainColor);
    margin-top: 5px;
    left: 1px;
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: var(--mainColor);
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
    fill: var(--mainColor);
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .tabs input[name="tab-control"]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: var(--mainColor);
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
    fill: var(--mainColor);
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .tabs input[name="tab-control"]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
    cursor: default;
    color: var(--mainColor);
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label svg {
    fill: var(--mainColor);
  }
  @media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  .tabs input[name="tab-control"]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
    display: block;
  }

  @-webkit-keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      -webkit-transform: translateY(5%);
              transform: translateY(5%);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial;
    }
    .tabs ul li label br {
      display: initial;
    }
    .tabs ul li label svg {
      height: 1.5em;
    }
  }

  @media (max-width: 600px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
    }
    .tabs ul li label span {
      display: none;
    }
    .tabs .slider {
      display: none;
    }
    .tabs .content {
      margin-top: 20px;
    }
    .tabs .content section h2 {
      display: block;
    }
  }

  .collection--title {
      text-transform: capitalize;
      color: var(--grey-dark);
}

.signature {
    position: relative;
    width: 6rem;
    height: 6rem;
}

.signature svg {
    position: absolute;
    top: -1rem;
    left: 0;
    opacity: 0.7;
}

.related--title {
    color: var(--grey-light);
    font-size: 1.5rem;
    font-weight: 700;
}

.related--title svg {
    fill: var(--mainColor-lighter);
}

.lh0 {
    line-height: 0;
}

.relatedRecipe--tag {
    color: var(--warning-darkest);
    background-color: var(--warning-lightest);
    display: inline-block;
    padding: .25em .4em;
    font-size: 60%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    display: none;
    position: absolute;
    right: 50%;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: var(--mainColor-lighter);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }