---
layout: default
permalink: /favorites
image: favorites.jpg
title: Favorites
---
<a class="recipe--logo absolute no-line-height top-2 z4" href="{{ site.baseurl }}/">
  {% include theSkullery-red.svg %}
  <h1 class="hide">theSkullery</h1>
</a>
{% for image in page.image %}
<div class="xs-p2">
  <img itemprop="image" src="{{site.baseurl}}/images/{{ image }}?nf_resize=fit&w=1920" />
  {% if page.imagecredit %}
  {% for imagecredit in page.imagecredit %}
  <a href="{{ imagecredit }}" class="right">
    <svg fill="#cfcfcf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path
        d="M20,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V6C22,4.9,21.1,4,20,4z M12,17c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S14.8,17,12,17z" />
      <path d="M12 8.5A3.5 3.5 0 1 0 12 15.5 3.5 3.5 0 1 0 12 8.5zM18 5L15 2 9 2 6 5z" />
    </svg> </a>
  {% endfor %}
  {% endif %}
</div>
{% endfor %}
<div class="page--header">
  <div class="page--suptitle ml3">Your recipes</div>
  <div class="page--title ml3">Favorites</div>
  <div class="page--subtitle ml3">
    If you want to export your favorites to a different browser, or simply want to include your liked recipes from other browsers, please do so below. <br>
    Exporting will copy your favorites directly to your clipboard, while pasting the string in the input area and submitting will add them to your local storage and you'll have access to your favorites on other browsers, as well. <br>
    <span class="highlight">No data is ever deleted, so any favorites you already have will stay there.</span><br>
    <div class="mt2 mb2" id="filesubmit">
      <input class="favs-input mt1" type="text" placeholder="your code goes here" id="import-input"></input>
      <button class="skullbtn favs-import mt1" id="import">Import</button>
      <button class="skullbtn favs-export mt1" id="export">Export</button>
    </div>
    <span class="warning">If you want to purge all favorites from this browser, please scroll to the bottom of the page.</span>
    <hr>
    <div id='favorites'></div>
    <hr>
    <button class="skullbtn favs-delete mt1" id="delete">Delete all favorites</button>
  </div>
</div>
<input type="hidden" id="input-url" value="Copied!">
<script src="js/random.json"></script>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
<script src="js/favorites.js"></script>
