---
layout: default
permalink: /favorites
image: favorites.jpg
---
<a class="recipe--logo absolute no-line-height top-2 z4" href="{{ site.baseurl }}/">
  {% include theSkullery-red.svg %}
  <h1 class="hide">theSkullery</h1>
</a>
{% for image in page.image %}
<div class="xs-p2">
  <img itemprop="image" src="{{site.baseurl}}/images/{{ image }}?nf_resize=fit&w=1920" />
  {% if page.imagecredit %}
  {% for imagecredit in page.imagecredit %}
  <a href="{{ imagecredit }}" class="right">
    <svg fill="#cfcfcf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path
        d="M20,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V6C22,4.9,21.1,4,20,4z M12,17c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S14.8,17,12,17z" />
      <path d="M12 8.5A3.5 3.5 0 1 0 12 15.5 3.5 3.5 0 1 0 12 8.5zM18 5L15 2 9 2 6 5z" />
    </svg> </a>
  {% endfor %}
  {% endif %}
</div>
{% endfor %}
<div class="tagpage--header">
  <div class="tagpage--suptitle ml3">Your recipes</div>
  <div class="tagpage--title ml3 mr3">Favorites</div>
  <div class="tagpage--subtitle ml3 mr3">
    <div id='favorites'></div>
  </div>
</div>
<script>
var options = Array.apply(0, new Array(localStorage.length)).map(function (o, i) {
    return localStorage.key(i);
});

function makeUL() {
    var LIs = '';
    var noFavs = 'Hmm, you must\'ve not favorited anything yet. Maybe you\'ll like <a href="#random-page" onclick="runme()" class="squiggly--url">this one</a>.';
    var len = options.length;
    if (len === 0) {
        document.getElementById('favorites').innerHTML = noFavs; 
    } else {
        for (var i = 0; i < len; i += 1) {
            LIs += '<li>' + options[i] + '</li>';
        }
        document.getElementById('favorites').innerHTML = '<ul>' + LIs + '</ul>'; 
    }
}

makeUL();
</script>
<script src="js/random.json"></script>