---
layout: default
title: Your recipes, your time.
---
<div class="home">
  <div class="skullery--hero">
    <div class="bg-back"></div>
    <div class="bg" id="hero"></div>
    <div class="ui">
      <div class="header">
        <p class="logo">the<strong><i>Skullery</i></strong></p>
        <ul>
          <li>Feed</li>
          <li>Search</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="main--hero">
        <p class="title">the<strong><i>Skullery</i></strong></p>
        <p class="desc">
          A scullery is a historical noun for a small kitchen, much like mine.</br>
          I hope you find inspiration from my collection and cook something for your loved ones; or share something from your own kitchen to inspire others. </br>
          </br>
          Yours,</br>
          <div class="signature">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M249.101,105.798c-84.69,77.215 -141.835,168.806 -174.996,270.801"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M35.366,209.742c-46.501,-5.471 24.619,-76.59 95.738,-114.886c71.119,-38.295 158.651,-35.559 172.328,-5.47c13.677,30.089 -24.618,79.517 -71.12,120.356c-46.501,40.839 -126.227,88.322 -155.472,78.469c-22.746,-7.663 42.977,-31.242 67.941,-4.614c39.847,42.503 81.775,161.322 139.503,172.327"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M222.562,290.052c-12.652,-3.251 -19.652,40.902 -1.191,20.898c18.75,-20.317 4.296,-34.831 10.941,-32.6c6.287,2.11 19.448,2.589 30.089,-4.258c24.75,-15.923 55.349,-52.689 87.532,-78.027c47.453,-37.36 186.415,-191.936 68.384,-142.239c-103.944,43.766 -155.916,213.358 -155.916,251.653c0,36.018 17.467,49.919 30.089,0c10.058,-39.778 -30.089,-26.497 -2.735,-21.882c27.354,4.614 46.231,1.998 51.702,-5.247c5.471,-7.245 -36.71,0.948 -8.133,17.806c28.577,16.858 35.757,-8.871 38.492,-18.921c2.735,-10.051 -5.471,15.504 -2.735,28.244c2.735,12.741 2.68,-36.991 21.882,-27.129"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M440.2,145.627c-46.501,114.623 -46.501,162.198 -33.342,192.287"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M345.731,226.154c-48.567,-6.091 68.12,-36.304 133.769,-32.424"/>
            </svg>
              </div>
        </p>
        <a href="/submit" class="cta--main">Submit recipe</a>
        <a href="#random-page" onclick="runme()" class="cta--secondary" >Browse random</a>
        <a id="favoritesBtn" href="/favorites" class="cta--favorites absolute top-2 right-2"><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path d="M16.5,3C13.605,3,12,5.09,12,5.09S10.395,3,7.5,3C4.462,3,2,5.462,2,8.5c0,4.171,4.912,8.213,6.281,9.49C9.858,19.46,12,21.35,12,21.35s2.142-1.89,3.719-3.36C17.088,16.713,22,12.671,22,8.5C22,5.462,19.538,3,16.5,3z"/></svg></a>
      </div>
    </div>
  </div>
</div>
<div id="search" class="clearfix">
  <div class="search xs-px1 xs-mt2">
    <input type="text" id="search-input" placeholder="Search titles, ingredients, or categories...">
  </div>
  <div id="spinner" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="clearfix index--recipes">

  <div class="recipes xs-px1 xs-mt2" id="results-container">
  </div>
  <div class="recipes xs-px1 xs-mt2" id="recipes">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

    <div class="sm-col sm-col-6 md-col-6 lg-col-3 xs-px1 xs-mb2">
      <a class="block relative" href="{{ post.url | prepend: site.baseurl }}">
        <div class="image ratio bg-cover" {% for image in post.image %}
          style='background-image:url(/images/blank.jpg);' data-echo-background='{{post.url|prepend:site.baseurl}}/{{image}}'
          {% endfor %}></div>
        <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
        {% for meal in post.meal %}
        <p class="recipe--meal m1 p1 absolute top-0 right-0">{{ meal }}</p>
        {% endfor %} 
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
  </svg>
</div>
{% include lazyload.html %}
<script src="{{site.baseurl}}/plugins/simple-jekyll-search.min.js" type="text/javascript"></script>
<script>
  var images = ['../assets/headers/header1.jpg',
    '../assets/headers/header2.jpg',
    '../assets/headers/header3.jpg',
    '../assets/headers/header4.jpg',
    '../assets/headers/header5.jpg',
    '../assets/headers/header6.jpg',
    '../assets/headers/header7.jpg',
    '../assets/headers/header8.jpg',
    '../assets/headers/header9.jpg',
    '../assets/headers/header10.jpg'
  ];

  var randomImage = Math.floor(Math.random() * 10)

  $(document).ready(function () {
    $("#hero").css("background-image", "url('" + images[randomImage] + "')");
  })
</script>
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '{{site.baseurl}}/search.json',
    searchResultTemplate: '<div class="sm-col sm-col-6 md-col-6 lg-col-3 xs-px1 xs-mb2 left-align"><a class="block relative" href="{url}"><div class="image ratio bg-cover" style="background-image:url(/images/blank.jpg);" data-echo-background="{{post.url|prepend:site.baseurl}}/{{image}}"></div><h1 class="title p2 m0 absolute bold white bottom-0 left-0">{title}</h1><p class="recipe--meal m1 p1 absolute top-0 right-0">{meal}</p></a></div>'
  })
</script>
<script>
  $(document).ready(function () {
    $('#search-input').keyup('input', function () {
      if ($(this).val().length > 0) {
        $('#recipes').hide();
        $('#spinner').show();
        $('#spinner').delay(500).fadeOut(0);
        $('#results-container').hide();
        $('#results-container').delay(300).fadeIn(500);
        currentHeight = $('#search-container').outerHeight();
        $('.search').addClass('used').css('height', currentHeight);
        $(window).scrollTop($('#search').offset().top), 4000;
      } else {
        $('#recipes').show();
        $('#search-container').hide();
      }
    });
  });
</script>
<script>
  $('#search-input').focusin(function(e) {
        var container = $('#search-input'),
        scrollTo = $(e.target);

        container.animate({
            scrollTop: scrollTo.offset().top
        }, 300);    
});
</script>
<script>
if( /iphone|ipod|ipad|android|blackberry|opera mini|opera mobi|skyfire|maemo|windows phone|palm|iemobile|symbian|symbianos|fennec/i.test(navigator.userAgent.toLowerCase()) ) {
var $htmlOrBody = $('html, body'),
    scrollTopPadding = 8;
$('#search-input').focus(function() {
    $htmlOrBody.scrollTop($('#search').offset().top), 4000;
  });
}
</script>
<script src="js/random.json"></script>
<script>
  		var progressPath = document.querySelector('.progress-wrap path');
  		var pathLength = progressPath.getTotalLength();
  		progressPath.style.transition = progressPath.style.WebkitTransition = 'none';
  		progressPath.style.strokeDasharray = pathLength + ' ' + pathLength;
  		progressPath.style.strokeDashoffset = pathLength;
  		progressPath.getBoundingClientRect();
  		progressPath.style.transition = progressPath.style.WebkitTransition = 'stroke-dashoffset 10ms linear';
  		var updateProgress = function () {
  		var scroll = $(window).scrollTop();
  		var height = $(document).height() - $(window).height();
  		var progress = pathLength - (scroll * pathLength / height);
  		progressPath.style.strokeDashoffset = progress;
  		}
  		updateProgress();
  		$(window).scroll(updateProgress);
  		var offset = 50;
  		var duration = 550;
  		jQuery(window).on('scroll', function() {
  		if (jQuery(this).scrollTop() > offset) {
  		jQuery('.progress-wrap').addClass('active-progress');
  		} else {
  		jQuery('.progress-wrap').removeClass('active-progress');
  		}
  		});
  		jQuery('.progress-wrap').on('click', function(event) {
  		event.preventDefault();
  		jQuery('html, body').animate({scrollTop: 0}, duration);
  		return false;
  		});
</script>
<script>
    var favorites = localStorage.length;
    $(document).ready(function () {
    if (favorites == 0) {
    $('#favoritesBtn').addClass('hidden');
    } else {
    $('#favoritesBtn').removeClass('hidden');
    }
    });
</script>
<script>
window.signature = {
  initialize: function() {
    return $('.signature svg').each(function() {
      var delay, i, len, length, path, paths, previousStrokeLength, results, speed;
      paths = $('path, circle, rect', this);
      delay = 0;
      results = [];
      for (i = 0, len = paths.length; i < len; i++) {
        path = paths[i];
        length = path.getTotalLength();
        previousStrokeLength = speed || 0;
        speed = length < 100 ? 20 : Math.floor(length);
        delay += previousStrokeLength + 100;
        results.push($(path).css('transition', 'none').attr('data-length', length).attr('data-speed', speed).attr('data-delay', delay).attr('stroke-dashoffset', length).attr('stroke-dasharray', length + ',' + length));
      }
      return results;
    });
  },
  animate: function() {
    return $('.signature svg').each(function() {
      var delay, i, len, length, path, paths, results, speed;
      paths = $('path, circle, rect', this);
      results = [];
      for (i = 0, len = paths.length; i < len; i++) {
        path = paths[i];
        length = $(path).attr('data-length');
        speed = $(path).attr('data-speed');
        delay = $(path).attr('data-delay');
        results.push($(path).css('transition', 'stroke-dashoffset ' + speed + 'ms ' + delay + 'ms linear').attr('stroke-dashoffset', '0'));
      }
      return results;
    });
  }
};

$(document).ready(function() {
  window.signature.initialize();
  return $('button').on('click', function() {
    window.signature.initialize();
    return setTimeout(function() {
      return window.signature.animate();
    }, 500);
  });
});

$(window).load(function() {
  return window.signature.animate();
});

// ---
// generated by coffee-script 1.9.2
</script>