---
layout: default
title: Your recipes, your time.
pagination: 
  enabled: true
  collection: recipes
  trail: 
  before: 2
  after: 2 
  sort_field: 'date'
  sort_reverse: true
---
<div class="home">
  <div class="skullery--hero">
    <div class="bg-back"></div>
    <div class="bg" id="hero"></div>
    <div class="ui">
      <div class="header">
        <p class="logo">the<strong><i>Skullery</i></strong></p>
        <ul>
          <li class='hero--link right'><a aria-label="categories" href='/categories'>Categories</a></li>
          <li class='hero--link right'><a aria-label="tags" href='/tags'>Tags</a></li>
          <li class='hero--link right' id="favs"><a aria-label="favorites" href='/favorites'>Favorites</a></li>
        </ul>
      </div>
      <div class="main--hero">
        <p class="title">the<strong><i>Skullery</i></strong></p>
        <p class="desc">
          A scullery is a historical noun for a small kitchen, much like mine.</br>
          I hope you find inspiration from my collection and cook something for your loved ones; or share something from your own kitchen to inspire others. </br>
          </br>
          Yours,</br>
          <div id="signature" class="signature invisible">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M249.101,105.798c-84.69,77.215 -141.835,168.806 -174.996,270.801"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M35.366,209.742c-46.501,-5.471 24.619,-76.59 95.738,-114.886c71.119,-38.295 158.651,-35.559 172.328,-5.47c13.677,30.089 -24.618,79.517 -71.12,120.356c-46.501,40.839 -126.227,88.322 -155.472,78.469c-22.746,-7.663 42.977,-31.242 67.941,-4.614c39.847,42.503 81.775,161.322 139.503,172.327"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M222.562,290.052c-12.652,-3.251 -19.652,40.902 -1.191,20.898c18.75,-20.317 4.296,-34.831 10.941,-32.6c6.287,2.11 19.448,2.589 30.089,-4.258c24.75,-15.923 55.349,-52.689 87.532,-78.027c47.453,-37.36 186.415,-191.936 68.384,-142.239c-103.944,43.766 -155.916,213.358 -155.916,251.653c0,36.018 17.467,49.919 30.089,0c10.058,-39.778 -30.089,-26.497 -2.735,-21.882c27.354,4.614 46.231,1.998 51.702,-5.247c5.471,-7.245 -36.71,0.948 -8.133,17.806c28.577,16.858 35.757,-8.871 38.492,-18.921c2.735,-10.051 -5.471,15.504 -2.735,28.244c2.735,12.741 2.68,-36.991 21.882,-27.129"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M440.2,145.627c-46.501,114.623 -46.501,162.198 -33.342,192.287"/>
            <path fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="M345.731,226.154c-48.567,-6.091 68.12,-36.304 133.769,-32.424"/>
            </svg>
              </div>
        </p>
        <a aria-label="submit" href="/submit" class="cta--main">Submit recipe</a>
        <a aria-label="browse" href="#random-page" onclick="runme()" class="cta--secondary" >Browse random</a>
        <pwa-install></pwa-install>
      </div>
    </div>
  </div>
</div>
<div id="search" class="clearfix">
  <div class="search xs-px1 xs-mt2">
    <label for="#search-input" id="searchLabel" class="hidden">Search</label><input aria-labelledby="searchLabel" type="text" id="search-input" placeholder="Search titles, ingredients, or categories{{site.baseurl}}.">
  </div>
  <div id="spinner" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="clearfix index--recipes">

  <div class="recipes xs-px1 xs-mt2" id="results-container"></div>
  <div class="recipes xs-px1 xs-mt2" id="recipes">
    {% for post in paginator.posts %}
    <div class="recipe sm-col sm-col-6 md-col-6 lg-col-3 xs-px1 xs-mb2">
      <a aria-label="{{ post.title }}" class="block relative" href="{{ post.url | prepend: site.baseurl }}">
        <div class="image ratio bg-cover" {% for image in post.image %}
          style='background-image:url(/images/blank.jpg);' data-echo-background='{{post.url|prepend:site.baseurl}}/{{image}}'
          {% endfor %}></div>
        <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
        {% for meal in post.meal %}
        <p class="recipe--meal m1 p1 absolute top-0 right-0">{{ meal }}</p>
        {% endfor %} 
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
  </svg>
</div>
<div class='pagination center mx-auto mt1'>
{% if paginator.total_pages > 1 %}
  {% if paginator.previous_page %}
  <span class='pagination--button previous-page'>
    <a aria-label="previous page" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" viewBox="0 0 30 30"><path d="M15,27c6.627,0,12-5.373,12-12c0-6.627-5.373-12-12-12S3,8.373,3,15C3,21.627,8.373,27,15,27z M10.293,14.293l6-6 C16.488,8.098,16.744,8,17,8s0.512,0.098,0.707,0.293c0.391,0.391,0.391,1.023,0,1.414L12.414,15l5.293,5.293 c0.391,0.391,0.391,1.023,0,1.414s-1.023,0.391-1.414,0l-6-6C9.902,15.316,9.902,14.684,10.293,14.293z"/></svg></a>
  </span>
  {% endif %}
{% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}
    <span class='pages'>
        <a aria-label="current page" {% if page.url == trail.path %}class="active"{% endif %} href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
    </span>
  {% endfor %}
{% endif %}
{% if paginator.next_page %}
  <span class='pagination--button next-page'>
    <a aria-label="next page" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" viewBox="0 0 30 30"><path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M19.707,15.707l-6,6 C13.512,21.902,13.256,22,13,22s-0.512-0.098-0.707-0.293c-0.391-0.391-0.391-1.023,0-1.414L17.586,15l-5.293-5.293 c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0l6,6C20.098,14.684,20.098,15.316,19.707,15.707z"/></svg></a>
  </span>
  {% endif %}
{% endif %}
</div>
{% include lazyload.html %}
<script src="/plugins/simple-jekyll-search.min.js" type="text/javascript"></script>
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '{{site.baseurl}}/search.json',
    searchResultTemplate: '<div class="sm-col sm-col-6 md-col-6 lg-col-3 xs-px1 xs-mb2 left-align"><a aria-label="{{ post.title }}" class="block relative" href="{url}"><div class="image ratio bg-cover" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url({image});"></div><h1 class="title p2 m0 absolute bold white bottom-0 left-0">{title}</h1><p class="recipe--meal m1 p1 absolute top-0 right-0">{meal}</p></a></div>'
  })
</script>
<script>
navigator.serviceWorker.getRegistrations().then(function (registrations) {
  if (!registrations.length) {
    console.log('No serviceWorker registrations found.')
    return
  }
  for(let registration of registrations) {
    registration.unregister().then(function (boolean) {
      console.log(
        (boolean ? 'Successfully unregistered' : 'Failed to unregister'), 'ServiceWorkerRegistration\n' +
        (registration.installing ? '  .installing.scriptURL = ' + registration.installing.scriptURL + '\n' : '') +
        (registration.waiting ? '  .waiting.scriptURL = ' + registration.waiting.scriptURL + '\n' : '') +
        (registration.active ? '  .active.scriptURL = ' + registration.active.scriptURL + '\n' : '') +
        '  .scope: ' + registration.scope + '\n'
      )
    })
  }
})
</script>
<script src="/js/backtotop.js" type="text/javascript"></script>