{% assign rawmeal = "" %}
{% for post in site.posts %}
  {% assign tmeal = post.meal | join:'|' | append:'|' %}
  {% assign rawmeal = rawmeal | append:tmeal %}
{% endfor %}
{% assign rawmeal = rawmeal | split:'|' | sort %}

{% assign site.meal = "" %}
{% for meal in rawmeal %}
  {% if meal != "" %}
    {% if meal == "" %}
      {% assign meal = meal | split:'|' %}
    {% endif %}
    {% unless meal contains meal %}
      {% assign meal = meal | join:'|' | append:'|' | append:meal | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}