{% assign rawchef = "" %}
{% for post in site.posts %}
  {% assign tchef = post.chef | join:'|' | append:'|' %}
  {% assign rawchef = rawchef | append:tchef %}
{% endfor %}
{% assign rawchef = rawchef | split:'|' | sort %}

{% assign site.chef = "" %}
{% for chef in rawchef %}
  {% if chef != "" %}
    {% if chef == "" %}
      {% assign chef = chef | split:'|' %}
    {% endif %}
    {% unless chef contains chef %}
      {% assign chef = chef | join:'|' | append:'|' | append:chef | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}