<footer class="footer clearfix">
    <div class="px3 sm-px4">
        <div class="container">
            <div class="col lg-col-6 md-col-12 sm-col-12 xs-col-12 p1 footer--about">
                <h4>About</h4>
                <span class="sitename"><em>the<strong>Skullery</strong></em>.net</span> is all about simplicity, you do not have to log in to
                see the recipes, your
                browser is keeping tabs on your favorites, you can dynamically scale your recipes up or down, you can tick off
                where you are with your instructions, and you can copy all unchecked ingredients to your clipboard for when
                you go shopping. <br>
                I hope you find your inspiration here and cook something as amazing as <strong>you</strong>.<br>
                <br>
                <span class="quote"><span class="quotes">„</span>Cooking is a craft, I like to think, and a good cook is a craftsman -- not an artist.
                    There's nothing wrong with that: The great cathedrals of Europe were built by craftsmen -- though not designed by them.
                    Practicing your craft in expert fashion is noble, honorable, and satisfying.<span class="quotes">“</span></span> --<strong>AB</strong>
            </div>
            <div class="lg-col xs-col sm-col md-col lg-col-3 md-col-6 sm-col-6 xs-col-6 p1 footer--links">
                <h4>Links</h4>
                <ul>
                    <li><a aria-label="statistics" href='https://stats.theskullery.net'>Stats</a></li>
                    <li><a aria-label="contact" href='/submit'>Contact</a></li>
                    <li><a aria-label="privacy" href='/privacy'>Privacy</a></li>
                    <li><a aria-label="favorites" href='/favorites'>Favorites</a></li>
                </ul>
            </div>
            <div class="lg-col-right xs-col-right sm-col-right md-col-right lg-col-3 md-col-6 sm-col-6 xs-col-6 p1 footer--links">
                <h4>Site</h4>
                <ul>
                    <li><a aria-label="categories" href='/categories'>Categories</a></li>
                    <li><a aria-label="cuisines" href='/tags'>Cuisines</a></li>
                    <li><a aria-label="chefs" href='/chefs'>Chefs</a></li>
                    <li><a aria-label="meals" href='/meals'>Meals</a></li>
                </ul>
            </div>
            <div class="mx-auto left col lg-col-12 md-col-12 sm-col-12 xs-col-12 p1 footer--copyright">
                <hr>
                <a aria-label="e-mail" class="squigglyURL--main" href='mailto:recipes@theskullery.net'>recipes@<span class="siteName"><em>the<strong>skullery</strong></em></span>.net</span></a><br>
                <span class="footer--love">
                    made with
                    <svg height=".8em" fill="#e83151" viewBox="0 0 32 32">
                        <path d="M0 10c0-4 3-8 8-8 4 0 7 3 8 4 1-1 4-4 8-4 6 0 8 4 8 8 0 8-14 19-16 20-2-1-16-12-16-20" />
                    </svg> by
                    <a aria-label="author" class="footer--nhg" href="https://nhg.design">Rob</a></br>
                    <span class="mx-auto center"> all rights reserved &copy; <span id="copyright">
                            <script>
                                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                            </script>
                        </span><span><em>the<strong>Skullery</strong></em></span></span>
            </div>
        </div>
    </div>
</footer>
<script src="/js/notices.js"></script>