<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  <body>
    <div id="update-notice">
      <div class="c-notice">
        <div class="c-notice__body">
          <p>
            Hi there, thank you for checking out <span class="sitename"><em>the<strong>Skullery</strong></em>!</span>
          </p>
          <p>
            Right now I'm working on updating and adding new features to the site, so please come back soon!
          </p>
          <p>
            Please <a class="squigglyURL--main" href="/submit">get in touch with me</a> if you have any suggestions for recipes, features, or other content.
          </p>
        </div>
        <div class="c-notice__actions">
          <button id="dismiss-update-notice" class="dismiss-notice">
            Got it!
          </button>
        </div>
      </div>
    </div>
  	{% include header.html %}

    <div class="page-content">
      <div class="main-container">
        {{ content }}
      </div>
    </div>

  {% include footer.html %}

  </body>

</html>
