---
layout: default-recipe
title: theSkullery
---
<div class="container" itemscope itemtype="http://schema.org/Recipe">
  {% include header-recipe.html %}
  <!-- call up the image and image credit link -->
  {% for image in page.image %}
  <div class="xs-p2">
    <img itemprop="image" src="{{site.baseurl}}{{page.url}}/{{image}}?nf_resize=fit&w=1024" />
    {% if page.imagecredit %}
    {% for imagecredit in page.imagecredit %}
    <span class="right" tooltip="{{ imagecredit }}" flow="left">
      <svg fill="#ddd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="24">
        <path
          d="M25 2a23 23 0 100 46 23 23 0 000-46zm-8 28l4-2h2c0 3-3 5-6 5-4 0-7-3-7-8s3-8 7-8c3 0 6 2 6 5h-2c0-2-2-3-4-3-3 0-4 2-4 6 0 3 1 5 4 5zm16 0l4-2h3c-1 3-3 5-7 5s-6-3-6-8 2-8 6-8 6 2 7 5h-3c0-2-2-3-4-3s-4 2-4 6c0 3 2 5 4 5z" />
      </svg></span>
      <div class='favorites left'>
        <span id="favTooltip" tooltip="🍪 Your favorites are saved as cookies." flow="right">
        <input type="button">
      </span>
    {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
<div>
  <article class="post-content px2">

    <!-- call up the main recipe title and content -->
    <header class="post-header">
      <h1 class="post-title center sm-mt3" itemprop="name">{{ page.title }}</h1>
    </header>

    <div class="px2 mt3 clearfix">
      <div class="sm-col-8 center mx-auto description" itemprop="description">{{page.content}}</div>
    </div>
    <div class="divider"></div>
    <div class="clearfix">
    <div class="split left">
      <div class="recipe--categories">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" class="icon--recipe" clip-rule="evenodd" viewBox="0 0 800 600"><path fill-rule="nonzero" d="M735 250L623 100a75 75 0 00-60-30H100c-28 0-50 23-50 50v351c0 27 22 50 50 50h463c23 0 46-12 60-30l112-150c20-27 20-64 0-91zm-110 83a38 38 0 110-75 38 38 0 010 75z"/></svg>
        {% for category in page.categories %}
        <a class="recipe--category" href="/category/{{ category }}">{{ category }}</a>
        {% endfor %}
      </div>
      <div class="recipe--tags">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" class="icon--recipe" clip-rule="evenodd" viewBox="0 0 800 600"><path d="M622 313c-45-12-77-56-77-104V91a20 20 0 0141 0v102a20 20 0 1041 0V91a20 20 0 0141 0v102a20 20 0 1041 0V91a20 20 0 0141 0v123c0 47-33 87-77 99l15 162a41 41 0 11-81 1l15-163zm-449 63c-87-8-123-68-123-142 0-82 41-164 41-164h204s41 82 41 164c0 74-35 134-122 142v88l66 16a20 20 0 01-5 41H111a20 20 0 01-5-41l67-16v-88zM385 89c0-10 8-19 18-19h1c51 1 93 43 93 94v132c0 20-17 37-37 37-21 0-22 14-15 52 6 36 15 73 15 98a38 38 0 11-75 0V89z"/></svg>
        {% for tag in page.tags %}
        <a class="recipe--tag" href="/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
      <div class="recipe--tags">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" class="icon--recipe" clip-rule="evenodd" viewBox="0 0 800 600"><path d="M490 481l49-195c21-78 36-189 36-189a32 32 0 0142-25c59 15 119 28 125 29a8 8 0 017 7v1c9 156-57 260-57 260a8 8 0 01-12 4c-24-13-103-33-106-1-7 66-5 61-22 125a32 32 0 01-62-16zm148-340a16 16 0 11-16-28 16 16 0 0116 28zM108 510l-2-8v-11l2-8c3-6 9-11 17-11h300c8 0 14 5 17 11l2 8v11l-2 8c-3 6-9 11-17 11H125c-8 0-14-5-17-11zm-2-189a103 103 0 0147-194l23 2 1-1 2-3a112 112 0 01195 4l23-2a103 103 0 0147 195v105c0 10-9 19-19 19H125c-10 0-19-9-19-19V321z"/></svg>
        {% for chef in page.chef %}
        <a class="recipe--chef" href="/chef/{{ chef }}">{{ chef }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="split right">
    </div>
    </div>
    <div class="divider"></div>
    <!-- call up recipe and directions -->
    <div class="clearfix mt3">
      <div class="sm-col sm-col-6 lg-col-6 ingredientlist">
        {% if page.ingredients %}
        <h4 class="mt0 mb2 xs-center stickynote--title">Ingredients</h4>
        <ul itemprop="ingredients">
          <!-- list ingredients that make up recipe -->
          {% for ingredient in page.ingredients %}
          {% if ingredient.first %}
          <h4 class="xs-center stickynote--title">{{ ingredient.first[0] }}</h4>
          <ul itemprop="recipeIngredientGroup">
            {% for i in ingredient.first[1] %}
            <li itemprop="recipeIngredient" class="ingredient unchecked">{{ i | markdownify }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <li itemprop="recipeIngredient" class="ingredient unchecked">{{ ingredient | markdownify }}</li>
          {% endif %}
          {% endfor %}
          <button class='copyButton' onclick="copyText()">
            <span class='copyIcon'>
              <svg id='shoppingcart' width='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M8 13h8l1-1 4-7-1-1H4l4 9z"/>
                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 3h2l4 9-2 2 1 2h11"/>
                <path d="M17 18a2 2 0 100 4 2 2 0 100-4zM7 18a2 2 0 100 4 2 2 0 100-4z"/>
              </svg>
            </span>
            <span id='copyText' class='copyIngredients'>
              Copy ingredients
            </span>
          </button>
        </ul>
        {% endif %}
      </div>
      <div class="sm-col sm-col-6 lg-col-6 instructionlist">
        <h4 class="skullery mt0 mb2 xs-center">Directions</h4>
        <ul itemprop="recipeInstructions" class="instructions">
          {% for direction in page.directions %}
          {% if direction.first %}
          <h4>{{ direction.first[0] }}</h4>
          <ul itemprop="instructionGroup">
            {% for d in direction.first[1] %}
            <li itemprop="instruction">{{ d | markdownify }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <li itemprop="instruction">{{ direction | markdownify }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% if page.notes %}
      <div class="notes sm-col sm-col-6 lg-col-6">
        <h4 class="skullery mt0 mb2 xs-center">Notes</h4>
        <dl>
          {% for notes in page.notes %}
          <dt class="note">{{ notes | markdownify }}</li>
            {% endfor %}
        </dl>
      </div>
      {% endif %}
    </div>
    <div class="flex-container mt3">
      <div class="applause" onclick="sendMessage()">
        <applause-button multiclap="true" style="width: 58px; height: 58px;" />
      </div>
    </div>
    <div class="center mt1">
      <span id="clapText">Clap if you liked this recipe!</span>
    </div>
  </article>
</div>
</div>
<div class="center mt3">
  <span class="share facebook" tooltip="share on Facebook" flow="down">
    <a target="_blank" href="https://www.facebook.com/sharer.php?u=https://theskullery.net{{page.url}}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="32">
        <path d="M15 3a12 12 0 100 24 12 12 0 000-24zm4 8h-2l-1 2v1h3v3h-3v8a10 10 0 01-3 0v-8h-3v-3h3v-2c0-3 1-4 4-4h2v3z"/>
      </svg>
    </a>
  </span>
  <span class="share twitter" tooltip="share on Twitter" flow="down">
    <a target="_blank" href="https://twitter.com/intent/tweet?url=https://theskullery.net{{page.url}}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="32">
        <path d="M15 3a12 12 0 100 24 12 12 0 000-24zm6 10a9 9 0 01-8 9l-5-2a6 6 0 005-1c-2 0-3-1-3-2a3 3 0 001 0l-2-3h1a3 3 0 01-1-4l6 3a3 3 0 016-3h2l-2 1h2l-2 2z"/>
      </svg>
    </a>
  </span>
  <span class="share reddit" tooltip="share on Reddit" flow="down">
    <a target="_blank" href="http://www.reddit.com/submit?url=https://theskullery.net{{page.url}}&title={{ page.title }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 125" width="32">
        <path d="M63 13a50 50 0 100 100 50 50 0 000-100zm22 19c1-2 3-3 6-3s6 3 6 7a7 7 0 01-13 2l-10-3-4-1c-3 0-5 2-5 5v9c8 0 14 2 20 5 2-2 5-3 7-3 3 0 6 2 8 4 4 4 4 13-3 17v1c0 13-15 24-34 24-20 0-35-11-35-24v-1c-7-4-7-13-3-17 2-2 5-4 8-4 2 0 5 1 7 3 6-3 12-5 20-5v-9c0-6 4-10 10-10l6 1 9 2zM63 85c-7 0-13-4-15-9 3 3 9 5 15 5 5 0 11-2 14-5-2 5-8 9-14 9zM44 67a5 5 0 1110 0 5 5 0 01-10 0zm32 5a5 5 0 110-11 5 5 0 010 11zm20-7c2-2 2-6 0-8l-4-1h-3c3 3 6 6 7 9zm-60-9h-3l-4 1c-2 2-2 6 0 8 1-3 4-6 7-9z"/>
      </svg>
    </a>
  </span>
  <span class="share copy" tooltip="copy URL to clipboard" flow="down">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 125" width="32" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
        <path d="M50 50h38v38H50z"/><path d="M63 13a50 50 0 100 100 50 50 0 000-100zm25 31H50c-3 0-6 3-6 6v38c0 3 3 6 6 6h38c3 0 6-3 6-6V50c0-3-3-6-6-6zm-50-6h43v-7H38c-4 0-7 3-7 7v43h7V38z"/>
      </svg>
    <input type="hidden" id="input-url" value="Copied!">
  </span>
</div>
<div id="output"></div>
<script>
function copyText(){
    var outputText = "";
    var items= document.getElementsByClassName('unchecked');
  
    // BEGIN - supplement to the original code
    Array.from(items).forEach ( pnode => {
        // Complement this selector to remove whatever is unwanted.
        // '*' removes all child elements.
        let nodelist_toBlank = pnode.querySelectorAll('em')
          ;
        
        // Blank the unwanted content, saving the original Css property value
        Array.from(nodelist_toBlank).forEach ( pnode_toBlank => {
            pnode_toBlank.setAttribute ( 'data-style-display', pnode_toBlank.style.display );
            pnode_toBlank.style.display = 'none';
        });
        
        // Add data from node to the string buffer. Elements with Css 'display' property set to 'none' are skipped
        outputText += pnode.innerText+"\n";
        
        // Unblank. Restore the original Css property value
        Array.from(nodelist_toBlank).forEach ( pnode_toRestore => {
            pnode_toRestore.style.display = pnode_toRestore.getAttribute ( 'data-style-display' );
            pnode_toRestore.removeAttribute ( 'data-style-display' );
        });
    });
    // END - supplement to the original code
    //
    // Original loop deleted!
    
    var output = document.getElementById('output');
    output.innerText = outputText;
    var range = document.createRange();
    range.selectNodeContents(output);
    var selection = window.getSelection();
    selection.removeAllRanges();
    selection.addRange(range);
    document.execCommand('copy');
    document.getElementById("copyText").innerHTML = 'Copied!'
    output.style.display = 'none';
}
</script>
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    jQuery.fn.clickToggle = function (a, b) {
      var ab = [b, a];

      function cb() {
        ab[this._tog ^= 1].call(this);
      }
      return this.on("click", cb);
    };

    $("ul li").append('<input type="checkbox" class="customCheckBox large">');
    $("ul li").clickToggle(function () {
      $(this).children("input").prop('checked', true);
      $(this).addClass("checked");
      $(this).removeClass("unchecked");
      var height = $(this).height();
      var y = $(window).scrollTop();
      $('html, body').animate({
        scrollTop: y + height + 16
      }, 200);
    }, function () {
      $(this).children("input").prop('checked', false);
      $(this).removeClass("checked");
      $(this).addClass("unchecked");
      var height = $(this).height();
      var y = $(window).scrollTop();
      $('html, body').animate({
        scrollTop: y - height - 16
      }, 200);
    });

  });
</script>
<script>
  function sendMessage() {
    var request = new XMLHttpRequest();
    var title = document.getElementsByTagName("title")[0].innerHTML;
    var page = title.split(" - ").slice(0, 1)
    document.getElementById("clapText").innerHTML = 'Thank you!'
    request.open("POST",
      "https://discordapp.com/api/webhooks/699980118013116426/L2jqPh9nx1q1cRxiGOQfSJFTDms4pdFJBfAu7f-kGkavwvLTrDtOI63uMv60MMkdTa6Z"
    );

    request.setRequestHeader('Content-type', 'application/json');

    var params = {
      username: "",
      avatar_url: "",
      content: "Someone clapped to your '" + page + "' recipe! 👏"
    }

    request.send(JSON.stringify(params));
  }
</script>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>
  var clipboard = new Clipboard('.share.copy', {
  text: function() {
  return document.querySelector('input[type=hidden]').value;
  }
  });
  clipboard.on('success', function(e) {
   $('.share.copy').attr('tooltip', 'Copied!');
  e.clearSelection();
  });
  $("#input-url").val(location.href);
  //safari
  if (navigator.vendor.indexOf("Apple")==0 && /\sSafari\//.test(navigator.userAgent)) {
  $('.share.copy').on('click', function() {
  var msg = window.prompt("Copy this link", location.href);

  });
  }
</script>
<script>
var path = window.location.href;
var page = document.getElementsByClassName('post-title')[0].innerHTML;
var href = '<a class="page--listitem" href="'+path+'"><svg class="listitem--icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24px"><path d="M20,22l-8-3l-8,3V4c0-1.105,0.895-2,2-2h12c1.105,0,2,0.895,2,2V22z"/><path d="M18,2H6C4.9,2,4.01,2.9,4.01,4L4,22l8-3l8,3V4C20,2.9,19.1,2,18,2z"/></svg>'+page+'</a>'
/* Check for each a tag if already added to localStorage
* .contents[0].nodevalue returns value of tag a
*/
$('.favorites input').each(function(e){
		if(localStorage.getItem(href)){
      $(this).removeClass("favorite");
    	$(this).addClass("unfavorite");
    } else {
      $(this).removeClass("unfavorite");
    	$(this).addClass("favorite");
    }
	}
);
//create click event and check if nodeValue is already added or not and set text accordingly
$('.favorites input').click(function(e){
	if(localStorage.getItem(href)){
  	localStorage.removeItem(href);
    $(this).removeClass("unfavorite");
    $(this).addClass("favorite");
  } else {
    localStorage.setItem(href,'favorite');
    $(this).removeClass("favorite");
    $(this).addClass("unfavorite");
  }
});
</script>

