---
layout: default
title: {{ page.tag }}
---
<a class="recipe--logo absolute no-line-height top-2 z4" href="{{ site.baseurl }}/">
  {% include theSkullery-red.svg %}
  <h1 class="hide">theSkullery</h1>
</a>
{% for image in page.image %}
<div class="xs-p2">
  <img itemprop="image" src="{{site.baseurl}}/images/recipe-tags/{{ image }}?nf_resize=fit&w=1920" />
  {% if page.imagecredit %}
  {% for imagecredit in page.imagecredit %}
  <a href="{{ imagecredit }}" class="right">
    <svg fill="#cfcfcf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
      <path
        d="M20,4H4C2.9,4,2,4.9,2,6v12c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V6C22,4.9,21.1,4,20,4z M12,17c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S14.8,17,12,17z" />
      <path d="M12 8.5A3.5 3.5 0 1 0 12 15.5 3.5 3.5 0 1 0 12 8.5zM18 5L15 2 9 2 6 5z" />
    </svg> </a>
  {% endfor %}
  {% endif %}
</div>
{% endfor %}
<div class="page--header">
  <div class="page--suptitle ml3">Recipe type</div>
  <div class="page--title ml3">{{ page.tag }}</div>
  <div class="page--subtitle ml3">{{page.content}}</div>
</div>
<div class="mt1 clearfix">
  <ul>
    {% assign recipes_tags = site.recipes | map: 'tags' | join: ',' %}
    {% assign sorted_recipes = site.recipes | sort: 'title' %}
    <div id="tags">
      {% for tag in recipes_tags %}
      {% if tag == '' %}
      {% continue %}
      {% endif %}
      <ul class="ml3 page--list">
        {% for recipe in sorted_recipes %}
        {% assign tags_array = recipe.tags | join: ',' %}
        {% if tags_array contains page.tag %}
        <li><a class="page--listitem" href="{{ recipe.url }}"><svg class="listitem--icon icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24px"><path d="M11 2L11 4.0527344C7.6416185 4.3032085 5.8471319 5.7626278 4.9316406 7L19.068359 7C18.152868 5.7626278 16.358382 4.3032085 13 4.0527344L13 2L11 2 z M 2 9L2 11L3 11C3.552 11 4 11.449 4 12L4 18C4 19.654 5.346 21 7 21L17 21C18.654 21 20 19.654 20 18L20 12C20 11.449 20.448 11 21 11L22 11L22 9L2 9 z"/></svg>{{ recipe.title }}</a>
          {% for category in recipe.categories %}
          <a class="recipe--category" href="/category/{{ category }}">{{ category }}</a>
          {% endfor %}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
  </ul>
</div>
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
  </svg>
</div>
<script src="{{site.baseurl}}/js/backtotop.js" type="text/javascript"></script>